<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Estoque</h1>

    <table>
        <tr>
            <th>REFERÊNCIA</th>
            <th>TECIDO</th>
            <th>COR</th>
            <th>METRAGEM</th>
            <th>PRODUÇÃO</th>
        </tr> 
        {% for tecido in tecidos %}
        <tr>
            <td>{{ tecido.referencia }}</td>
            <td>{{ tecido.tipo }}</td>
            <td>{{ tecido.cor }}</td>
            <td>{{ tecido.metragem_total }}</td>
            <td>{{ tecido.producao }}</td>
        </tr>
        {% endfor %}   
        <tr>
            <td>Produção total disponível:</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>{{prod_total}}</td>
        </tr>  
    </table>

    <form method="get" action="{% url 'tecidos_filtrados_referencia_estoque' %}">
        {{ form.as_p }}
        <button type="submit">Filtrar por Referência</button>
    </form>

    <form method="get" action="{% url 'tecidos_filtrados_tipo_estoque' %}">
        {{ form.as_p }}
        <button type="submit">Filtrar por Tecido</button>
    </form>

    <form method="get" action="{% url 'tecidos_filtrados_cor_estoque' %}">
        {{ form.as_p }}
        <button type="submit">Filtrar por Cor</button>
    </form>

    <a href="{% url 'limpar_filtros_estoque' %}">
        <button type="submit">Limpar filtros</button>
    </a>

    <br>

    <a href="{% url 'voltar_inputs' %}">
        <button type="submit">Ver histórico de inputs</button>
    </a>

</body>
</html>