<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'estilos/index_estilo.css' %}">
</head>
<body>
    <div id="cabecalho">
        <img src="https://cdn.shopify.com/s/files/1/0639/6218/5944/files/logo_SB_BRANCA_E_AMARELA_140x@2x.png?v=1650296644">
    </div>
    <h1><class titulo>Historico de inputs</class></h1>
    <table>
        <tr>
            <th>INPUT</th>
            <th>REFERÊNCIA</th>
            <th>TECIDO</th>
            <th>COR</th>
            <th>METRAGEM</th>
        </tr> 
        {% for tecido in tecidos %}
        <tr>
            <td>00{{ tecido.id }} </td>
            <td>{{ tecido.referencia }}</td>
            <td>{{ tecido.tipo }}</td>
            <td>{{ tecido.cor }}</td>
            <td>{{ tecido.metragem }}m</td>
            <td><a href="{% url 'editar' tecido.id %}"><img src="https://cdn-icons-png.flaticon.com/512/6269/6269505.png" id="icone" alt="Editar"></a></td>
            <td><a href="{% url 'excluir' tecido.id %}"><img src="https://cdn-icons-png.flaticon.com/512/7778/7778893.png" id="icone" alt="Excluir"></a></td>
        </tr>
        {% endfor %}   
    </table>

    <form method="get" action="{% url 'tecidos_filtrados_referencia' %}">
        {{ form.as_p }}
        <button type="submit">Filtrar por Referência</button>
    </form>

    <form method="get" action="{% url 'tecidos_filtrados_tipo' %}">
        {{ form.as_p }}
        <button type="submit">Filtrar por Tecido</button>
    </form>

    <form method="get" action="{% url 'tecidos_filtrados_cor' %}">
        {{ form.as_p }}
        <button type="submit">Filtrar por Cor</button>
    </form>

    <a href="{% url 'limpar_filtros' %}">
        <button type="submit">Limpar filtros</button>
    </a>

    <br>

    <a href="{% url 'adicionar' %}">
        <button type="submit">Inserir novo tecido</button>
    </a>

    <br>

    <a href="{% url 'abrir_estoque' %}">
        <button type="submit">Exibir estoque</button>
    </a>

</body>
</html>